@using Sandbox;
@using Sandbox.UI;
@using System;
@using System.Linq;

@namespace TTT.UI.GameMenu
@using Sandbox.UI;
@inherits Panel

@if ( !Game.InGame )
{
    <div>No active game.</div>
    return;
}

<root style="flex-direction: column;">

    <div class="navbar">
        <div class="left">
            <a class="button" href="/"> Home </a>
            <span class="block">&gt;</span>
            <span class="block">Current Game</span>
        </div>
        <div class="right">
            
        </div>
    </div>

    <section class="inset" style="flex-direction: row;">

        <div style="flex-grow: 1; flex-shrink: 0; flex-direction: column;">

            <h2>Server Information</h2>

            <div style="flex-direction: column; margin: 30px 30px;">


                <div>
                    Players: @Connection.All.Count()
                </div>

                <div>
                    Map: @Game.ActiveScene?.Title
                </div>

            </div>

            <h2>Current Players</h2>

            <div style="flex-direction: column; margin: 30px 30px;">
                @foreach ( var conn in Connection.All )
                {
                    <div>
                        @conn.DisplayName - @conn.SteamId
                    </div>
                }
            </div>

        </div>

        <div style="flex-shrink: 0;">
            <section class="nogrow">
                <h2>Map</h2>
                <div>@(Game.ActiveScene?.Title ?? "Unknown")</div>
            </section>
        </div>

    </section>
    
    <div class="navbar">
    
        <div class="left">
            <span class="button" onclick=@Game.Disconnect>Leave Server</span>
        </div>

        <div class="right">
            
            <span class="button primary" onclick=@ReturnToGame>Close</span>
        </div>

    </div>

</root>

@code
{
    public string Tab { get; set; } = "map";

    public void ReturnToGame()
    {
        Parent?.Delete( true );
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( Connection.All.Count(), Game.ActiveScene?.Title );
    }

    public override void Tick()
    {
        base.Tick();

        if (!IsVisible)
            return;

        if ( !Game.InGame )
            Parent?.Delete( true );
    }

    void OnMapClicked() { }
    void OnMapSelected( Package map ) { }
}

